In [160]:
import pandas as pd

In [161]:
df = pd.read_csv('Suicides in India 2001-2012.csv')

In [162]:
df.head()

,State,Year,Type_code,Type,Gender,Age_group,Total
0,A & N Islands,2001,Causes,Illness (Aids/STD),Female,0-14,0
1,A & N Islands,2001,Causes,Bankruptcy or Sudden change in Economic,Female,0-14,0
2,A & N Islands,2001,Causes,Cancellation/Non-Settlement of Marriage,Female,0-14,0
3,A & N Islands,2001,Causes,Physical Abuse (Rape/Incest Etc.),Female,0-14,0
4,A & N Islands,2001,Causes,Dowry Dispute,Female,0-14,0

In [163]:
df.isna().sum()

State        0
Year         0
Type_code    0
Type         0
Gender       0
Age_group    0
Total        0
dtype: int64

In [164]:
df.duplicated().sum()

np.int64(0)

In [165]:
df['State'].nunique()

38

In [166]:
df['State'].unique()

array(['A & N Islands', 'Andhra Pradesh', 'Arunachal Pradesh', 'Assam',
       'Bihar', 'Chandigarh', 'Chhattisgarh', 'D & N Haveli',
       'Daman & Diu', 'Delhi (Ut)', 'Goa', 'Gujarat', 'Haryana',
       'Himachal Pradesh', 'Jammu & Kashmir', 'Jharkhand', 'Karnataka',
       'Kerala', 'Lakshadweep', 'Madhya Pradesh', 'Maharashtra',
       'Manipur', 'Meghalaya', 'Mizoram', 'Nagaland', 'Odisha',
       'Puducherry', 'Punjab', 'Rajasthan', 'Sikkim', 'Tamil Nadu',
       'Total (All India)', 'Total (States)', 'Total (Uts)', 'Tripura',
       'Uttar Pradesh', 'Uttarakhand', 'West Bengal'], dtype=object)

In [167]:
df = df[~df['State'].isin(['Total (All India)', 'Total (States)', 'Total (Uts)', 'D & N Haveli','Daman & Diu','Puducherry','Chandigarh'])]

In [168]:
df.columns

Index(['State', 'Year', 'Type_code', 'Type', 'Gender', 'Age_group', 'Total'], dtype='object')

In [169]:
df['Type_code'].value_counts()

Type_code
Causes                  96720
Means_adopted           59520
Professional_Profile    43810
Education_Status         5952
Social_Status            3720
Name: count, dtype: int64

In [170]:
df[df['Type_code'] == 'Causes']['Type'].unique()

array(['Illness (Aids/STD)', 'Bankruptcy or Sudden change in Economic',
       'Cancellation/Non-Settlement of Marriage',
       'Physical Abuse (Rape/Incest Etc.)', 'Dowry Dispute',
       'Family Problems', 'Ideological Causes/Hero Worshipping',
       'Other Prolonged Illness', 'Property Dispute',
       'Fall in Social Reputation', 'Illegitimate Pregnancy',
       'Failure in Examination', 'Insanity/Mental Illness',
       'Love Affairs', 'Professional/Career Problem', 'Divorce',
       'Drug Abuse/Addiction', 'Not having Children(Barrenness/Impotency',
       'Causes Not known', 'Unemployment',
       'Other Causes (Please Specity)', 'Poverty', 'Death of Dear Person',
       'Cancer', 'Suspected/Illicit Relation', 'Paralysis',
       'Bankruptcy or Sudden change in Economic Status',
       'Not having Children (Barrenness/Impotency'], dtype=object)

In [171]:
df[df['Type_code'] == 'Means_adopted']['Type'].unique()

array(['By Consuming Insecticides', 'By Hanging',
       'By Jumping from (Other sites)', 'By touching electric wires',
       'By Machine', 'By Fire/Self Immolation',
       'By Jumping off Moving Vehicles/Trains',
       'By Other means (please specify)', 'By Self Infliction of injury',
       'By Over Alcoholism', 'By Consuming Other Poison',
       'By coming under running vehicles/trains',
       'By Overdose of sleeping pills', 'By Jumping from (Building)',
       'By Drowning', 'By Fire-Arms', 'By Other means'], dtype=object)

In [172]:
df[df['Type_code'] == 'Professional_Profile']['Type'].unique()

array(['Retired Person', 'Unemployed', 'Public Sector Undertaking',
       'Service (Private)', 'House Wife',
       'Self-employed (Business activity)', 'Professional Activity',
       'Student', 'Others (Please Specify)',
       'Farming/Agriculture Activity', 'Service (Government)'],
      dtype=object)

In [173]:
df = df[df['Type_code'].isin(['Means_adopted', 'Causes'])]

In [174]:
df = df[df['Total'] > 0]

In [175]:
df['Age_group'].unique()

array(['0-14', '15-29', '30-44', '45-59', '60+'], dtype=object)

In [176]:
df['Type_code'].value_counts()

Type_code
Causes           37901
Means_adopted    28188
Name: count, dtype: int64

In [177]:
df.shape

(66089, 7)

In [178]:
def categorize_cause(cause):
    mapping = {
        "Health Issues": [
            "Illness (Aids/STD)", "Other Prolonged Illness", "Cancer", "Paralysis", "Insanity/Mental Illness"
        ],
        "Financial Problems": [
            "Bankruptcy or Sudden change in Economic", 
            "Bankruptcy or Sudden change in Economic Status",
            "Poverty", "Unemployment"
        ],
        "Relationship Issues": [
            "Divorce", "Love Affairs", "Dowry Dispute", 
            "Illegitimate Pregnancy", "Suspected/Illicit Relation", 
            "Cancellation/Non-Settlement of Marriage"
        ],
        "Family & Social Issues": [
            "Family Problems", "Property Dispute", "Fall in Social Reputation", 
            "Death of Dear Person", 
            "Not having Children(Barrenness/Impotency", 
            "Not having Children (Barrenness/Impotency"
        ],
        "Education/Career Stress": [
            "Failure in Examination", "Professional/Career Problem"
        ],
        "Violence & Abuse": [
            "Physical Abuse (Rape/Incest Etc.)", "Ideological Causes/Hero Worshipping"
        ],
        "Substance Abuse": [
            "Drug Abuse/Addiction"
        ],
        "Unknown/Other": [
            "Causes Not known", "Other Causes (Please Specity)"
        ]
    }

    for category, causes in mapping.items():
        if cause in causes:
            return category
    return cause

    
df["Type"] = df["Type"].apply(categorize_cause)

In [179]:
def categorize_means(method):
    mapping = {
        "Poisoning": [
            "By Consuming Insecticides", "By Consuming Other Poison", 
            "By Overdose of sleeping pills", "By Over Alcoholism"
        ],
        "Hanging": ["By Hanging"],
        "Jumping from Vehicle/Building": [
            "By Jumping from (Other sites)", "By Jumping off Moving Vehicles/Trains", 
            "By Jumping from (Building)"
        ],
        "Drowning": ["By Drowning"],
        "Burning": ["By Fire/Self Immolation"],
        "Electrocution": ["By touching electric wires"],
        "Firearms": ["By Fire-Arms"],
        "Violent Methods": [
            "By Machine", "By coming under running vehicles/trains", "By Self Infliction of injury"
        ],
        "Unspecified": ["By Other means (please specify)", "By Other means"]
    }

    for category, methods in mapping.items():
        if method in methods:
            return category
    return method

df['Type'] = df['Type'].apply(func=categorize_means)

In [180]:
df['Type'].value_counts()

Type
Health Issues                    8201
Family & Social Issues           8124
Poisoning                        7676
Relationship Issues              6214
Unknown/Other                    5952
Financial Problems               4371
Jumping from Vehicle/Building    3786
Violent Methods                  3353
Hanging                          3179
Unspecified                      2588
Drowning                         2536
Education/Career Stress          2480
Burning                          2371
Electrocution                    1482
Substance Abuse                  1365
Firearms                         1217
Violence & Abuse                 1194
Name: count, dtype: int64

In [181]:
df[df['Type_code'] == 'Causes']['Type'].unique()

array(['Relationship Issues', 'Unknown/Other', 'Health Issues',
       'Education/Career Stress', 'Family & Social Issues',
       'Financial Problems', 'Violence & Abuse', 'Substance Abuse'],
      dtype=object)

In [182]:
df[df['Type_code'] == 'Means_adopted']['Type'].unique()

array(['Hanging', 'Burning', 'Poisoning', 'Drowning', 'Unspecified',
       'Electrocution', 'Firearms', 'Violent Methods',
       'Jumping from Vehicle/Building'], dtype=object)

In [183]:
df.reset_index(drop=True)
df.head()

,State,Year,Type_code,Type,Gender,Age_group,Total
13,A & N Islands,2001,Causes,Relationship Issues,Female,0-14,1
20,A & N Islands,2001,Causes,Unknown/Other,Female,0-14,1
32,A & N Islands,2001,Causes,Health Issues,Male,0-14,1
47,A & N Islands,2001,Causes,Education/Career Stress,Male,0-14,1
54,A & N Islands,2001,Causes,Health Issues,Female,15-29,8

In [184]:
df['State'].unique()

array(['A & N Islands', 'Andhra Pradesh', 'Arunachal Pradesh', 'Assam',
       'Bihar', 'Chhattisgarh', 'Delhi (Ut)', 'Goa', 'Gujarat', 'Haryana',
       'Himachal Pradesh', 'Jammu & Kashmir', 'Jharkhand', 'Karnataka',
       'Kerala', 'Lakshadweep', 'Madhya Pradesh', 'Maharashtra',
       'Manipur', 'Meghalaya', 'Mizoram', 'Nagaland', 'Odisha', 'Punjab',
       'Rajasthan', 'Sikkim', 'Tamil Nadu', 'Tripura', 'Uttar Pradesh',
       'Uttarakhand', 'West Bengal'], dtype=object)

In [185]:
df['State'] = df['State'].replace({
    'A & N Islands': 'ANDAMAN AND NICOBAR ISLANDS',
    'Puducherry': 'PONDICHERRY',
    'Orissa': 'ORISSA', 
    'Delhi (Ut)': 'DELHI',
    'Lakshadweep' : 'LAKSHADWEEP'
})

In [186]:
df.to_excel("cleaned_suicide_data.xlsx", index=False)

In [191]:
df.groupby(df['State'])['Total'].sum().sort_values(ascending = False)

State
Maharashtra                    360778
West Bengal                    337017
Tamil Nadu                     327626
Andhra Pradesh                 325640
Karnataka                      293930
Kerala                         215872
Madhya Pradesh                 180614
Gujarat                        132354
Chhattisgarh                   120990
Odisha                         106896
Rajasthan                      102054
Uttar Pradesh                   93360
Assam                           68938
Haryana                         58874
DELHI                           33714
Jharkhand                       19900
Punjab                          18540
Bihar                           18490
Tripura                         18388
Himachal Pradesh                10638
Uttarakhand                      7404
Goa                              6950
Jammu & Kashmir                  5936
Sikkim                           3848
ANDAMAN AND NICOBAR ISLANDS      3246
Arunachal Pradesh                2656
Meghalaya                        2172
Mizoram                          1668
Manipur                           842
Nagaland                          694
LAKSHADWEEP                        20
Name: Total, dtype: int64